@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family:cursive;
    margin: 0;
    background-color: black;
    color: aliceblue;
}
svg{
    width: 25px;
}
#search{
    position: relative;
    top: 30px;
}

#timeDisplay{
    height: 58px;
    width: 155px;
    position: relative;
    left: 1330px;
    top: 10px;
    font-size: 50px;
    color: beige;
}
header{
    width: 1200px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 90px 1fr 90px;
    grid-template-rows: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100px;
    left: 90px;
    bottom: 40px;
    font-size: 18px;
}
#head{
    font-weight: bold;
}
#logo{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 80px;
    font-weight: 500px;
}
